## 재무지표 가공 생성

벤저민 그레이엄은 종목 선정에 있어 유동 자산이 풍부하여 재무적으로 건전하고, 꾸준하게 이익을 달성하는 기업을 강조.  워런 버핏의 종목 선정 기준 역시 실적의 강력한 성장 추세와 높은 자기자본 이익률로 알려져 있다.


1. 수익성: 기업이 돈을 얼마나 잘 버는가(ROE, ROA, 매출총이익률 등).
2. 수익의 안정성: 기업이 얼마나 안정적으로 돈을 버는가(ROE의 변동성 등).
3. 재무 구조: 기업의 재무 구조가 얼마나 안전한가(차입비율 등).
4. 이익의 성장: 기업의 이익 증가율이 얼마나 되는가(전년 대비 ROE 증가율 등).
5. 배당: 얼마나 주주 친화적인가(배당금, 신주발행, 자사주 매입 등.)
6. 투자: 얼마나 신사업에 투자를 하는가(총자산의 증가 등)


``` 수익성 지표
 ROE(Return on Equity)	= 자기자본이익율= 당기순이익 / 자본 
 ROA(Return on Asset)	= 총자산이익률 = 당기순이익 / 자산 
 ROIC(Return on Invested Capital)= 투하자본이익률= 당기순이익 / 투하자본 
 GP(Gross Profitability) = 매출총이익률 = 매출총이익 / 자산 혹은 자본 
```

In [4]:
# 패키지 불러오기

from sqlalchemy import create_engine
import pandas as pd
import numpy as np

# DB 연결

engine = create_engine('mysql+pymysql://root:1234@127.0.0.1:3306/stock_db')

ticker_list = pd.read_sql("""
select * from kor_ticker
where 기준일 = (select max(기준일) from kor_ticker) 
and 종목구분 = '보통주';
""", con=engine)

# 재무제표 불러오기  (q: 분기, y: 연간)

fs_list = pd.read_sql("""
select * from kor_fis
where 계정 in ('당기순이익','매출액', '매출총이익', '영업활동으로인한현금흐름', '자산', '자본','부채','배당금지급(-)')
and 공시구분 = 'y';   # 연간 
""", con=engine)

fsq_list = pd.read_sql("""
select * from kor_fis
where 계정 in ('당기순이익','매출액', '매출총이익', '영업활동으로인한현금흐름', '자산', '자본','부채')
and 공시구분 = 'q';   # 분기
""", con=engine)

engine.dispose()

### 1. 연간 재무 데이터 처리

먼저 DB에서 티커 테이블과 재무제표 테이블 중 수익성을 계산하는데 필요한 계정(당기순이익, 매출총이익, 영업활동으로인한현금흐름, 자산, 자본 / 연간 데이터)을 불러와 여러가지 수익성 지표들을 생성한다.

In [157]:
#  데이터 구조 파악

print(fs_list.tail(10))
print(fs_list.shape)

       계정         기준일       값    종목코드 공시구분
54132  자산  2024-03-31  4789.0  018500    y
54133  자산  2024-03-31  1045.0  020180    y
54134  자산  2024-03-31   806.0  021880    y
54135  자산  2024-03-31   780.0  033200    y
54136  자산  2024-03-31   638.0  060310    y
54137  자산  2024-03-31   862.0  067010    y
54138  자산  2024-03-31  2635.0  092440    y
54139  자산  2024-03-31   468.0  099750    y
54140  자산  2024-03-31  2974.0  190650    y
54141  자산  2024-03-31   946.0  289080    y
(54142, 5)

In [158]:
# 특정연도 추출과정

fs_list['기준일']=pd.to_datetime(fs_list['기준일'],format='%Y-%m-%d')

In [159]:
filtered_fs_list=fs_list.loc[fs_list['기준일']=='2023-12-31']

In [160]:
filtered_fs_list.head(5)

         계정        기준일       값    종목코드 공시구분
4857  당기순이익 2023-12-31   282.0  000020    y
4858  당기순이익 2023-12-31  -210.0  000040    y
4859  당기순이익 2023-12-31  -135.0  000050    y
4860  당기순이익 2023-12-31  2270.0  000070    y
4861  당기순이익 2023-12-31   355.0  000080    y

In [161]:
f_list = filtered_fs_list.groupby(['종목코드', '계정']).tail(1)

In [162]:
f_list_pivot = f_list.pivot(index='종목코드', columns='계정', values='값')

In [163]:
f_list_pivot.tail(5)

계정      당기순이익     매출액  매출총이익  배당금지급(-)      부채  영업활동으로인한현금흐름      자본      자산
종목코드
462510  -83.0    29.0    9.0       NaN    27.0         -38.0    86.0   113.0
462520  241.0  2794.0  581.0       NaN  2172.0          31.0  2208.0  4380.0
464080   60.0    41.0   15.0       NaN    60.0         -88.0   199.0   258.0
465770   14.0   283.0   27.0       NaN   435.0           5.0   304.0   739.0
472850    2.0    28.0   21.0       NaN  1515.0           1.0  1872.0  3387.0

In [165]:
f_list_pivot['ROE'] = f_list_pivot['당기순이익'] / f_list_pivot['자본']
f_list_pivot['ROA'] = f_list_pivot['당기순이익'] / f_list_pivot['자산']
f_list_pivot['GPA'] = f_list_pivot['매출총이익'] / f_list_pivot['자산']
f_list_pivot['CFO'] = f_list_pivot['영업활동으로인한현금흐름'] / f_list_pivot['자산']
f_list_pivot['DEBTR'] = f_list_pivot['부채'] / f_list_pivot['자본']  # 부채비율
f_list_pivot['DVP'] = (-1)*f_list_pivot['배당금지급(-)'] / f_list_pivot['당기순이익']  # 배당성향 = 현금 배당금/당기순이익

f_ratio = ticker_list[['종목코드', '종목명']].merge(f_list_pivot,
                                                  how='left',
                                                  on='종목코드')
f_ratio.round(4).head()

,종목코드,종목명,당기순이익,매출액,매출총이익,배당금지급(-),부채,영업활동으로인한현금흐름,자본,자산,ROE,ROA,GPA,CFO,DEBTR,DVP
0,000020,동화약품,282.0,3611.0,1904.0,-50.0,1579.0,292.0,4071.0,5650.0,0.0693,0.0499,0.3370,0.0517,0.3879,0.1773
1,000040,KR모터스,-210.0,784.0,48.0,NaN,1162.0,-88.0,224.0,1386.0,-0.9375,-0.1515,0.0346,-0.0635,5.1875,NaN
2,000050,경방,-135.0,3935.0,1118.0,-31.0,4688.0,462.0,7380.0,12069.0,-0.0183,-0.0112,0.0926,0.0383,0.6352,-0.2296
3,000070,삼양홀딩스,2270.0,32109.0,5287.0,-378.0,23401.0,3058.0,27965.0,51367.0,0.0812,0.0442,0.1029,0.0595,0.8368,0.1665
4,000080,하이트진로,355.0,25202.0,11140.0,-661.0,22425.0,1644.0,11159.0,33583.0,0.0318,0.0106,0.3317,0.0490,2.0096,1.8620

In [168]:
# 수익성 지표의 순위를 구한다.

f_ratio_copy = f_ratio[['종목명','ROE','ROA', 'GPA', 'CFO','DEBTR','DVP']].copy()
f_ratio_copy.dropna(axis=0,inplace=True)
f_rank = f_ratio_copy.sort_values(ascending=False, by='ROE')  # 수익성 지표는 높을수록 좋으므로

In [169]:
f_rank

            종목명       ROE       ROA       GPA       CFO      DEBTR       DVP
354        태영건설  2.811821 -0.299061  0.055556 -0.062202 -10.402350 -0.005698
2019        진에어  0.936364  0.140607  0.293605  0.438307   5.659441  0.039582
2391  HD현대마린솔루션  0.629583  0.230125  0.415626  0.111027   1.736250  0.595632
2094       에어부산  0.557281  0.076651  0.157499  0.207496   6.270343  0.119116
849       한미반도체  0.467215  0.369163  0.109699  0.062172   0.265606  0.072979
...         ...       ...       ...       ...       ...        ...       ...
2263     티와이홀딩스 -1.131790 -0.394299  0.035289  0.027321   1.870524 -0.007097
715       신세계건설 -1.320833 -0.125624 -0.089482 -0.139098   9.515000 -0.012618
1518      티로보틱스 -1.618893 -0.373684  0.071429 -0.116541   3.332248 -0.004024
2282      엑스플러스 -1.720000 -0.261398  0.033435 -0.136778   5.580000 -0.104651
1120       JW신약 -2.280488 -0.570122  0.742378  0.039634   3.000000 -0.042781

[1186 rows x 7 columns]

### 2. 분기 재무 데이터 처리

TTM (Trailing Twelve Months) : 연간 기준 재무제표를 데이터 활용시 다음 재무제표가 발표될때 까지 최장 1년을 
기다려야 함. 한편 분기 재무제표는 3개월마다 발표되므로 최근 정보가 반영될 수 있다는 장점이 있어 최근 4개 분기 데이터를 활용하는 TTM 기법이 많이 사용된다.

In [178]:
fsq_list = fsq_list.sort_values(['종목코드', '계정', '기준일'])
fsq_list['ttm'] = fsq_list.groupby(['종목코드', '계정'], as_index=False)['값'].rolling(
    window=4, min_periods=4).sum()['값']   # 최소 4개 데이터가 있어야 계산

In [179]:
fsq_list_clean = fsq_list.copy()
fsq_list_clean['ttm'] = np.where(fsq_list_clean['계정'].isin(['자산', '자본']),
                                 fsq_list_clean['ttm'] / 4, fsq_list_clean['ttm'])  # stock data / flow data
fsq_list_clean = fsq_list_clean.groupby(['종목코드', '계정']).tail(1)

fsq_list_pivot = fsq_list_clean.pivot(index='종목코드', columns='계정', values='ttm')
fsq_list_pivot['ROE'] = fsq_list_pivot['당기순이익'] / fsq_list_pivot['자본']
fsq_list_pivot['GPA'] = fsq_list_pivot['매출총이익'] / fsq_list_pivot['자산']
fsq_list_pivot['CFO'] = fsq_list_pivot['영업활동으로인한현금흐름'] / fsq_list_pivot['자산']

fq_list = ticker_list[['종목코드', '종목명']].merge(fsq_list_pivot,
                                                  how='left',
                                                  on='종목코드')
fq_list.round(4).head()

,종목코드,종목명,당기순이익,매출액,매출총이익,부채,영업활동으로인한현금흐름,자본,자산,ROE,GPA,CFO
0,000020,동화약품,138.0,4058.0,2005.0,5499.0,130.0,4055.00,5430.00,0.0340,0.3692,0.0239
1,000040,KR모터스,-191.0,703.0,22.0,4964.0,-80.0,219.75,1460.75,-0.8692,0.0151,-0.0548
2,000050,경방,28.0,4001.0,1312.0,18998.0,530.0,7386.00,12135.75,0.0038,0.1081,0.0437
3,000070,삼양홀딩스,2509.0,33724.0,6047.0,88815.0,2204.0,28321.00,50524.75,0.0886,0.1197,0.0436
4,000080,하이트진로,872.0,25615.0,11609.0,89749.0,1476.0,11130.25,33567.50,0.0783,0.3458,0.0440

In [181]:
fq_list_copy = fq_list[['종목명','ROE', 'GPA', 'CFO']].copy()
fq_rank= fq_list_copy.sort_values(ascending=False, by='ROE')

In [183]:
fq_rank.dropna(axis=0)

         종목명        ROE       GPA       CFO
499     현대사료  17.525355  0.114754 -0.023566
277      카프로   2.783333 -0.123165 -0.131492
16     대유플러스   1.549241 -0.005096 -0.583439
1163     위니아   1.299599 -0.141321  0.278305
643       광무   0.758388  0.011957  0.042631
...      ...        ...       ...       ...
2087    효성화학  -4.633198 -0.004853  0.008876
1840  디딤이앤에프  -5.966102  0.493750  0.004167
1774    에이비온  -6.448980  0.002642 -0.874505
884      코다코 -42.869565  0.013412  0.090809
354     태영건설 -50.826255  0.051644 -0.078328

[2254 rows x 4 columns]

### 가치지표 계산

재무제표 데이터를 이용한  가치지표 계산. 

1. PER = Price to Earnings Ratio / Earnings (순이익). 
2. PBR = Price to Book Ratio / Book Value (순자산). 
3. PCR = Price to Cash Flow Ratio / Cash Flow (영업활동현금흐름). 
4. PSR = Price to Sales Ratio / Sales (매출액). 
5. DY =Dividend Yield / Dividened (배당).

In [6]:
# 삼성전자의 가치지표를 구해보자.


engine = create_engine('mysql+pymysql://root:1234@127.0.0.1:3306/stock_db')

# 삼성전자 분기 재무제표
sample_fs = pd.read_sql("""
select * from kor_fis
where 공시구분 = 'q'
and 종목코드 = '005930'
and 계정 in ('당기순이익', '자본', '영업활동으로인한현금흐름', '매출액');
""", con=engine)

engine.dispose()

In [7]:
sample_fs = sample_fs.sort_values(['종목코드', '계정', '기준일'])

sample_fs.head()

      계정         기준일         값    종목코드 공시구분
0  당기순이익  2023-09-30   58442.0  005930    q
1  당기순이익  2023-12-31   63448.0  005930    q
2  당기순이익  2024-03-31   67547.0  005930    q
3  당기순이익  2024-06-30   98413.0  005930    q
4    매출액  2023-09-30  674047.0  005930    q

In [8]:
sample_fs['ttm'] = sample_fs.groupby(
    ['종목코드', '계정'], as_index=False)['값'].rolling(window=4,
                                                 min_periods=4).sum()['값']
sample_fs

              계정         기준일          값    종목코드 공시구분         ttm
0          당기순이익  2023-09-30    58442.0  005930    q         NaN
1          당기순이익  2023-12-31    63448.0  005930    q         NaN
2          당기순이익  2024-03-31    67547.0  005930    q         NaN
3          당기순이익  2024-06-30    98413.0  005930    q    287850.0
4            매출액  2023-09-30   674047.0  005930    q         NaN
5            매출액  2023-12-31   677799.0  005930    q         NaN
6            매출액  2024-03-31   719156.0  005930    q         NaN
7            매출액  2024-06-30   740683.0  005930    q   2811685.0
8   영업활동으로인한현금흐름  2023-09-30    97305.0  005930    q         NaN
9   영업활동으로인한현금흐름  2023-12-31   199452.0  005930    q         NaN
10  영업활동으로인한현금흐름  2024-03-31   118663.0  005930    q         NaN
11  영업활동으로인한현금흐름  2024-06-30   168954.0  005930    q    584374.0
12            자본  2023-09-30  3638930.0  005930    q         NaN
13            자본  2023-12-31  3636780.0  005930    q         NaN
14            자본  2024-03-31  3719160.0  005930    q         NaN
15            자본  2024-06-30  3835270.0  005930    q  14830140.0

In [9]:
import numpy as np

sample_fs['ttm'] = np.where(sample_fs['계정'] == '자본',
                            sample_fs['ttm'] / 4, sample_fs['ttm'])
sample_fs = sample_fs.groupby(['계정', '종목코드']).tail(1)

sample_fs.head()

              계정         기준일          값    종목코드 공시구분        ttm
3          당기순이익  2024-06-30    98413.0  005930    q   287850.0
7            매출액  2024-06-30   740683.0  005930    q  2811685.0
11  영업활동으로인한현금흐름  2024-06-30   168954.0  005930    q   584374.0
15            자본  2024-06-30  3835270.0  005930    q  3707535.0

In [10]:
sample_fs_merge = sample_fs[['계정', '종목코드', 'ttm']].merge(
    ticker_list[['종목코드', '시가총액', '기준일']], on='종목코드')
sample_fs_merge['시가총액'] = sample_fs_merge['시가총액']/100000000   # 원 --> 억으로

sample_fs_merge.head()

             계정    종목코드        ttm       시가총액         기준일
0         당기순이익  005930   287850.0  4883280.0  2024-07-03
1           매출액  005930  2811685.0  4883280.0  2024-07-03
2  영업활동으로인한현금흐름  005930   584374.0  4883280.0  2024-07-03
3            자본  005930  3707535.0  4883280.0  2024-07-03

In [11]:
sample_fs_merge['value'] = sample_fs_merge['시가총액'] / sample_fs_merge['ttm']
sample_fs_merge['지표'] = np.where(
    sample_fs_merge['계정'] == '매출액', 'PSR',
    np.where(
        sample_fs_merge['계정'] == '영업활동으로인한현금흐름', 'PCR',
        np.where(sample_fs_merge['계정'] == '자본', 'PBR',
                 np.where(sample_fs_merge['계정'] == '당기순이익', 'PER', None))))

sample_fs_merge

             계정    종목코드        ttm       시가총액         기준일      value   지표
0         당기순이익  005930   287850.0  4883280.0  2024-07-03  16.964669  PER
1           매출액  005930  2811685.0  4883280.0  2024-07-03   1.736781  PSR
2  영업활동으로인한현금흐름  005930   584374.0  4883280.0  2024-07-03   8.356429  PCR
3            자본  005930  3707535.0  4883280.0  2024-07-03   1.317123  PBR

In [12]:
ticker_list_sample = ticker_list[ticker_list['종목코드'] == '005930'].copy()
ticker_list_sample['DY'] = ticker_list_sample['주당배당금'] / ticker_list_sample['종가']

ticker_list_sample.head()

,종목코드,종목명,시장구분,종가,시가총액,기준일,EPS,선행EPS,BPS,주당배당금,종목구분,DY
258,005930,삼성전자,KOSPI,81800.0,4.883280e+14,2024-07-03,2131.0,6400.0,52002.0,1444.0,보통주,0.017653

In [51]:
#  가치지표 DB

engine = create_engine('mysql+pymysql://root:1234@127.0.0.1:3306/stock_db')

# 종목별 가치지표 불러오기

value_db = pd.read_sql("""
select * from kor_value
# where 지표 in ('PER'); 

""", con=engine)

engine.dispose()

In [52]:
value_db.head(5)

     종목코드         기준일   지표        값
0  000020  2024-07-03   DY   0.0227
1  000020  2024-07-03  PBR   0.5462
2  000020  2024-07-03  PCR  17.0382
3  000020  2024-07-03  PER  16.0505
4  000020  2024-07-03  PSR   0.5458

In [64]:
value_stock =value_db[value_db['지표'].isin(['PER'])]

In [65]:
stock_value = ticker_list[['종목코드', '종목명']].merge(value_stock,
                                                  how='left',
                                                  on='종목코드')

In [66]:
# PER sorting

stock_value[stock_value['값']>0].sort_values('값')

        종목코드       종목명         기준일   지표          값
239   005440  현대지에프홀딩스  2024-07-03  PER     0.4392
57    001230     동국홀딩스  2024-07-03  PER     0.4557
666   032190     다우데이타  2024-07-03  PER     0.8528
319   007860        서연  2024-07-03  PER     0.9196
1658  154040    다산솔루에타  2024-07-03  PER     0.9444
...      ...       ...         ...  ...        ...
162   003520      영진약품  2024-07-03  PER   769.9780
1033  059120     아진엑스텍  2024-07-03  PER   993.3820
2014  271940   일진하이솔루스  2024-07-03  PER  1579.6240
267   006110     삼아알미늄  2024-07-03  PER  2677.5750
1526  119860    커넥트웨이브  2024-07-03  PER  4077.1250

[1445 rows x 5 columns]